*, *::before, *::after {
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: normal;
    font-size: 30pt;
}

h1 {
    font-size: 50pt;
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration:overline
}

.top {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

.buttons {
    cursor: pointer;
    border: 1px solid black;
    margin: 10px;
    outline: none;
    padding: 0px;
    display:grid
}